<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>編集</title>
  <link rel="stylesheet" th:href="@{/css/bread.css}" />
</head>

<body>

  <ul class="bread">
    <li itemprop=”itemListElement” itemscope itemtype=”https://schema.org/ListItem”>
      <a itemprop="item" th:href="@{/admin}">
        <span itemprop=”name”>管理者トップ</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop=”itemListElement” itemscope itemtype=”https://schema.org/ListItem”>
      <span itemprop=”name”>編集トップ</span>
      <meta itemprop="position" content="2" />
    </li>
  </ul>
  
  <div class="header" style="font-size: 40px;">
    編集データ選択
  </div>
  
  <div class="link">
    <a th:href="@{/admin/edit/info}">パーク情報</a>
    <a th:href="@{/admin/edit/genre}">ジャンル情報</a>
    <a th:href="@{/admin/edit/area}">エリア情報</a>
  </div>

</body>

</html>