<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>編集ページ</title>
  <link rel="stylesheet" th:href="@{/css/edit.css}" />
  <link rel="stylesheet" th:href="@{/css/bread.css}" />
  <link rel="stylesheet" th:href="@{/js/edit.css}" />
</head>

<body>

  <ul class="bread">
    <li itemprop=”itemListElement” itemscope itemtype=”https://schema.org/ListItem”>
      <a itemprop="item" th:href="@{/admin}">
        <span itemprop=”name”>管理者トップ</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop=”itemListElement” itemscope itemtype=”https://schema.org/ListItem”>
      <a itemprop="item" th:href="@{/admin/edit}">
        <span itemprop=”name”>編集トップ</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li itemprop=”itemListElement” itemscope itemtype=”https://schema.org/ListItem”>
      <span itemprop=”name”>パーク情報</span>
      <meta itemprop="position" content="3" />
    </li>
  </ul>
  
  <div class="header">
    パーク情報編集：
  </div>
  
  <div class="input">
    <form method="POST" th:action="@{/admin/edited/info}" th:object="${infoEditForm}">
      <div>        
      <label>ID：
        <input type="text" th:field="*{id}">
      </label>
      <div class="errMsg" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">err</div>
      </div>
      <div>
        <label>名前：
          <input type="text" th:field="*{name}">
        </label>
        <div class="errMsg" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">err</div>
      </div>
      <div>
        <label>ジャンル番号：
          <input type="text" th:field="*{genre}" placeholder="0~9の数字を入力してください">
        </label>
        <div class="errMsg" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">err</div>
      </div>
      <div>
        <label>エリア番号：
          <input type="text" th:field="*{area}" placeholder="0~8の数字を入力してください">
        </label>
        <div class="errMsg" th:if="${#fields.hasErrors('area')}" th:errors="*{area}">err</div>
      </div>
      <div>
        <button>編集</button>
      </div>
    </form>
  </div>

</body>

</html>