<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>admin top</title>
  <link rel="stylesheet" th:href="@{/css/bread.css}" />
</head>

<body>
  <ul class="bread">
    <li itemprop=”itemListElement” itemscope itemtype=”https://schema.org/ListItem”>
      <span itemprop=”name”>管理者トップ</span>
      <meta itemprop="position" content="1" />
    </li>
  </ul>
  <div class="header">
    <h1>hello admin</h1>
  </div>
  <div class="toAdminEach">
    <a th:href="@{/admin/show}">表示</a>
    <a th:href="@{/admin/edit}">編集</a>
    <a th:href="@{/user/search}">検索<span>(ユーザーページに飛びます)</span></a>
  </div>
</body>

</html>