<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>検索結果</title>
  <link rel="stylesheet" th:href="@{/css/bread.css}" />
  <link rel="stylesheet" th:href="@{/css/search.css}" />
</head>

<body>
  <ul class="bread">
    <li itemprop=”itemListElement” itemscope itemtype=”https://schema.org/ListItem”>
      <a itemprop="item" th:href="@{/user}">
        <span itemprop=”name”>TOP</span>
      </a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop=”itemListElement” itemscope itemtype=”https://schema.org/ListItem”>
      <a itemprop="item" th:href="@{/user/search}">
        <span itemprop=”name”>検索</span>
      </a>
      <meta itemprop="position" content="2" />
    </li>
    <li itemprop=”itemListElement” itemscope itemtype=”https://schema.org/ListItem”>
      <span itemprop=”name”>検索結果</span>
      <meta itemprop="position" content="3" />
    </li>
  </ul>

  <div class="required" th:each="eachTerm:${terms}">
    <p class="header">指定された検索条件</p>
    <div id="name">
      名前：<span th:text="*{eachTerm.name}"></soan>
    </div>
    <div id="genre">
      ジャンル：<span th:text="*{eachTerm.genre}"></span>
    </div>
    <div id="area">
      エリア：<span th:text="*{eachTerm.area}"></span>
    </div>
    <div id="tag">選択タグ：
      <span th:if="*{eachTerm.haltFlag}">休止中</span>
      <span th:if="*{eachTerm.myRecommend}">おすすめ</span>
      <span th:if="*{eachTerm.today}">TODAY</span>
    </div>
  </div>

  <div class="header">
    <p>検索結果</p>
  </div>

  <table class="result">
    <tr>
      <th>名前</th>
      <th>ジャンル</th>
      <th>エリア</th>
      <th>休止中</th>
      <th>おすすめ</th>
      <th>TODAY!</th>
    </tr>
    <tr th:each="result:${resultList}">
      <td th:text="*{result.name}"></td>
      <td th:text="*{result.genre}"></td>
      <td th:text="*{result.area}"></td>
      <td th:text="*{result.HaltFlag}"></td>
      <td th:text="*{result.myRecommend}"></td>
      <td th:text="*{result.today}"></td>
    </tr>
  </table>

</body>

</html>