<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" th:href="@{/css/top.css}" />
  <link rel="stylesheet" th:href="@{/css/bread.css}" />
  <title>top</title>
</head>

<body>
  <div class="header">
  </div>
  <div class="top">
    <div class="flush">
      <div class="fadeIn">VON VOYAGE!!! <br> 冒険とイマジネーションの海・東京ディズニーシーへようこそ！</div>
    </div>
    <div class="topImage">
      <img src="/images/believeAriel.jpg">
    </div>
    <p class="welcome">ようこそ、東京ディズニーシーへ</p>
  </div>
  <div class="button-block">
    <div class="button">
      <a th:href="@{/user/today}">TODAY</a>
      <a th:href="@{/user/search}">検索！</a>
      <a href="https://ajyg6.app.goo.gl/?ibi=jp.tokyodisneyresort.portalapp&isi=1313147771&apn=jp.tokyodisneyresort.portalapp&afl=https%3A%2F%2Fwww.tokyodisneyresort.jp%2Ftopics%2Ftdrapp.html&ifl=https%3A%2F%2Fcontents-portal.tokyodisneyresort.jp%2Fpublic%2Fstatic%2Fhtml%2Fapp_group_join_landing.html%3Finvitation-code%3D190f889a04e3d5ce294f296180a4b26b6987dd2575c82f676a0114249e93c5d977cdb80fea74d723a719d0e0383b086732a6df6bc9167a94004a3767d62ff431&link=https%3A%2F%2Fcontents-portal.tokyodisneyresort.jp%2Flp%3FlinkType%3Dgroup190f889a04e3d5ce294f296180a4b26b6987dd2575c82f676a0114249e93c5d977cdb80fea74d723a719d0e0383b086732a6df6bc9167a94004a3767d62ff431">チケットを確認する</a>
    </div>
  </div>
  <br>
  <hr>
  <div class="wayOfEnjoy">
    <h4 class="headline">楽しみ方たくさん！</h4>
    <table class="recommendation">
      <tr>
        <th><a class="recomHeader" href="https://www.tokyodisneyresort.jp/tds/restaurant.html">→食べる</a></th>
        <th><a class="recomHeader" href="https://www.tokyodisneyresort.jp/tds/show.html">観る</a></th>
        <th><a class="recomHeader" href="https://www.tokyodisneyresort.jp/tds/attraction.html">遊ぶ</a> </th>
        <th><a class="recomHeader" href="https://www.tokyodisneyresort.jp/tds/shop.html">買う</a> </th>
        <th><a class="recomHeader" href="https://www.tokyodisneyresort.jp/tds/greeting.html">会う</a> </th>
      </tr>
      <tr>
        <td><img class="recoPhoto" src="/images/eating.png"></td>
        <td><img class="recoPhoto" src="/images/show.png"></td>
        <td><img class="recoPhoto" src="\images\riding.png"></td>
        <td><img class="recoPhoto" src="\images\buying.png"></td>
        <td><img class="recoPhoto" src="\images\greeting.png"></td>
      </tr>
    </table>
    <hr class="headline">
  </div>
  <footer>
    <div class="footer">
      <a href="https://www.tokyodisneyresort.jp/tds/">東京ディズニーリゾート公式HP</a>｜
      <a href="http://www.olc.co.jp/index.html">株式会社オリエンタルランド</a>｜
      <a href="https://www.disney.co.jp/" target="_blank">Disney.jp</a>
    </div>
    <p>©Hello World, nununu</p>
  </footer>
</body>

</html>