.top {
  position: relative;
  background-color: #04536f;
  width: 100%;
  text-align: center;
}

.TODAY {
  font-size: 200px;
  color: violet;
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.date {
  font-size: 80px;
  text-align: center;
  color: palevioletred;
}

.underToday {
  display: inline;
}

.open {
  color: beige;
  padding-left: 1cm;
  text-align: left;
}

.open h4 {
  font-size: 30px;
}

.fsMMP {
  text-align: right;
}

.fsMM {
  width: 60%;
}

th{
  text-align: left;
}

.tablePhoto {
  width: 30%;
}

.recommendHeader{
  font-size: 20px;
}

.recoTable{
  margin:auto;
/*  white-space: nowrap;*/
}

h3 {
  color: aliceblue;
  background-color: #007788;
}

.attraction {
  text-align: center;
}

.food {
  text-align: center;
}

footer {
  bottom: 0;
  display: block;
  color: black;
  text-decoration: none;
  font-size: 10px;
  text-align: center;
}