<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset='utf-8'>
  <title>TODAY!</title>
  <link rel='stylesheet' th:href="@{\css\today.css}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
</head>

<body>
  <div class="top">
    <div class="title">
      <div class="TODAY">TODAY
        <span class="date">0908</span>
      </div>
      <div class="underToday">
        <div class="open">
          <h4>＜本日の営業時間＞</h4>
          <p>東京ディズニーシー　9:00~21:00</p>
          <p>東京ディズニーランド　9:00~21:00</p>
        </div>
        <div class="fsMMP">
          <img class="fsMM" src="\images\harverMM.png">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="wantToDo">
    <h3>~~~今日のやりたい！を詰めてみました~~~</h3>
    <table>
      <tr>
        <th>Fantasy Springs</th>
        <th>ビリーヴ</th>
        <th>Big Bang Beat!~special edition~</th>
        <th>トレイルでキャラクターグリーティング</th>
      </tr>
      <tr>
        <td><img class="tablePhoto" src="\images\FantasySprings.avif" style="width: 70%;"></td>
        <td><img class="tablePhoto" src="\images\beleive.png"></td>
        <td><img class="tablePhoto" src="\images\TRL.png"></td>
        <td><img class="tablePhoto" src="\images\trailMM.png"></td>
      </tr>
    </table>
  </div>
  <div class="plan">

  </div>
  <hr>
  <div class="addPlan">
    <h3>~~~ほかには何をしよう？？~~~</h3>
    <div class="attraction">
      <table>~~~アトラクションシリーズ~~~</table>
      <tr>
        <th><a>トイ・ストーリー　マニア</a></th>
        <th><a>ニモ・フレンズのシーライダー</a></th>
      </tr>
    </div>
    <div class="food">
      <b>何食べる～～～～？</b>
      <p>ココナッツプリンでちょっと一息</p>
      <p>パオと一緒におしゃれ中華！</p>
      <p>新エリアでご飯食べちゃう？</p>
      <p>おしゃれなバーはいかがですか？🍸</p>
    </div>
  </div>
  <hr>
  <footer>
    <div class="footer">
      <a href="https://www.tokyodisneyresort.jp/tds/">東京ディズニーリゾート公式HP</a>｜
      <a href="http://www.olc.co.jp/index.html">株式会社オリエンタルランド</a>｜
      <a href="https://www.disney.co.jp/" target="_blank">Disney.jp</a>
    </div>
    <p>©Hello World, nununu</p>
  </footer>
</body>

</html>